<%- include('partials/header'); -%>

<header>
<h2>Write</h2>
</header>

<form>
<label for="title">Title</label>
<input type="text" name="title">
<label for="body">Body</label>
<input type="textarea" name="body">
</form>

<%- include('partials/footer'); -%>
